<P>自由に感謝を書いてください</P>
<P>※下記項目は全て必須項目です</P>
<P>※改行は反映されません</P>
<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :user, "自分の名前" %>
    <%= form.text_field :user  %>
  </div>
  <div>
    <%= form.label :to_name, "相手の名前" %>
    <%= form.text_field :to_name %>
  </div>
    <div>
    <%= form.label :body, "内容" %>
    <%= form.text_field :body %>
  </div>
    <div>
    <%= form.label :letter_color, "手紙の色" %>
    <%= form.text_field :letter_color %>
  </div>
    <div>
    <%= form.label :stamp_color, "切手の色" %>
    <%= form.text_field :stammp_color %>
  </div>
  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>